* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 50px auto 0px auto;
    width: 80%;
}

/* top section start */
.top_section {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    color: white;
    display: flex;
    padding: 3% 8% 0% 8%;
    margin-bottom: 100px;
}

.left_top_section,
.right_top_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.left_top_section>h1 {
    font-size: 4vw;
    font-family: 'Righteous', cursive;
}

.left_top_section>h1,
.left_top_section>p {
    margin-bottom: 20px;
}

.left_top_section>p {
    font-size: 1vw;
}

.left_top_section>button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.right_top_section>img {
    width: 100%;
}

/* top section end */

/* middle section start */

.middle_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* middle section left */

.left_middle_section {
    width: 270px;
    margin: 0px 15px;
    /* border: 2px solid black; */
}

.cart {
    width: 250px;
    height: 220px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.cart>ul>li {
    list-style: none;
    background-color: white;
    margin: 10px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;

}

.cart>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#active {
    background-color: red;
}

#active>a {
    color: white;
}

/* middle section right */

.right_middle_section {
    width: calc(100%-300px);
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

article {
    border: 1px solid gray;
    border-radius: 10px;
}

.blog_image>img {
    width: 100%;
}

.blog_content {
    padding: 10px;
}

.blog_content_body>button {
    border: 2px solid navy;
    background-color: white;
    color: black;
    text-align: center;
    width: 30%;
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.blog_content_body>p {
    margin-bottom: 15px;
    font-weight: 700;
}

.blog_content_body_page_upcoming>p {
    margin-bottom: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_content_body_page_upcoming>p>img {
    width: 37%;
}

.blog_content_body_page_upcoming>p>img {
    margin: 10px;
}

.blog_content_footer {
    display: flex;
}

.blog_content_footer_page_upcoming {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}

.time {
    font-weight: 400;
}

.blog_content_footer>p {
    margin-right: 30px;
}

#view_all {
    display: none;
}

/* middle section end */

/* footer section */
footer {
    width: 100%;
    background-color: black;

}

.footer_section {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.footer_section>h1 {
    text-align: center;
    padding: 8% 0%;
    font-weight: 500;
    color: aliceblue;
}

.footer_section>ul {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.footer_section>ul>li {
    list-style: none;
    display: inline;
    padding: 40px;
}

.footer_section>ul>li>a {
    text-decoration: none;
    font-size: 1vw;
    color: oldlace;
}

/* social media section */
.soical_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soical_media>p {
    margin: 10px;

}

.soical_media>p>a {
    text-decoration: none;
    color: white;
}


/* media queries */

/* ----------------------------------------------------mobile devices min :0px to max 767px
----------------------------------------------------
*/
@media screen and (max-width: 767px) {

    /* top section  */
    .top_section {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .left_top_section,
    .right_top_section {
        width: 100%;
    }

    .left_top_section {
        text-align: center;
        margin-top: 20px;
    }

    .left_top_section>h1 {
        font-size: 7vw;
    }

    .left_top_section>p {
        font-size: 4vw;
    }

    .left_top_section>button {
        margin: 20px auto;
    }

    /* middle section */

    .middle_section {
        flex-direction: column;
    }

    .left_middle_section,
    .cart {
        background-color: white;
        margin: auto;
    }

    .cart>ul>li {
        border: 1px solid gray;
    }

    .right_middle_section {

        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section */


    .footer_section>ul {
        flex-direction: column;
        justify-content: center;
    }

    .footer_section>ul>li {
        padding: 20px;
    }

    .footer_section>ul>li>a {
        font-size: 4vw;


    }
}

/* ----------------------------------------------------Tablet Mode --- min 768 to max 1023
----------------------------------------------------
*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .top_section {
        margin-bottom: 20px;
    }

    .middle_section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .left_middle_section,
    .right_middle_section {
        width: 100%;
        margin: 0;
    }

    .cart {
        background-color: white;
        width: 100%;
        height: min-content;
    }

    .cart>ul>li {
        border: 1px solid gray;
        display: inline-block;
        width: 29%;
    }

    .right_middle_section {
        grid-template-columns: repeat(2, 1fr);
    }

    #view_all {
        display: block;
        width: 100px;
        background-color: red;
        color: white;
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid red;

    }

    /* footer section */
    .footer_section>ul>li {
        padding: 20px;
    }
}